.App {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.Center {
    text-align: center;
    justify-content: center !important;
    align-content: center !important;
}

.Left {
    text-align: left;
    padding-left: 2rem;
}

.Left-no-pad {
    text-align: left;
}

.Right {
    text-align: right;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  justify-content: center;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: translate3d();
  }
  to {
    transform: translate();
  }
}

.iframe {
    display: block;
    margin: auto;
    text-align: center;
    justify-content: center;
}

div {   
    font-size: calc(10px + 2vmin);
    color: white !important;
}

.header {
    margin: 0 0 15px 0;
}

.OneThird {
    float: left;
    width: 33.33%;
    padding: 1rem;
}

.responsive-column-3 {
    text-align: left;
    padding-left: 2rem;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 0.5fr;
    font-size: calc(10px + 1.5vmin);
    border: 5px black;
}

.responsive-column-2 {
    padding-left: 10rem;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    font-size: calc(10px + 1.5vmin);
}

input {
    display: inline-block;
    margin:auto;
    color: white !important;
    width: 100px;
    text-align:center;

}

label {
    color: white !important;
    width: 300px;
}

label div {
    width: 100px;
    float: left;
}

.box-shadow {
    box-shadow: 0px 5px 4px -1px rgba(0,0,0,0.2), 0px 5px 4px 0px rgba(0,0,0,0.14), 0px 5px 4px 0px rgba(0,0,0,0.12);
}

.box-shadow:hover {
    box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.2), 0px 20px 31px 3px rgba(0,0,0,0.14), 0px 8px 38px 7px rgba(0,0,0,0.12);
}


.label {
    width: 250px;
}

hr {
    border-top: 1px solid #4f4f4f;
    margin: 15px 0;
    width: inherit;
}
/*
div button {
    display: block;
    margin: auto;
    width: 100px;
    height: 50px;
    border-radius: 5px 5px;
    background-color: aquamarine;
}*/

button input {

}
